{% extends "layout.html.twig" %}

{% block titre %}

	<title>Genre</title>
	Liste des genres 
	
{% endblock %}

{% block corps %}

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.nom }}</td>
                <td>
                    <a href="{{ path('genre_show', {'id': genre.id}) }}">voir</a>
                    <a href="{{ path('genre_edit', {'id': genre.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun genre trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   <a href="{{ path('genre_new') }}">Créer un nouveau genre</a>
	
{% endblock %}

{% block pied %}

	<a href="{{ path('cineland_accueil') }}">Retour à l'accueil</a> | 
	<a href="{{ path('cineland_menu') }}">Menu des actions</a>
	
{% endblock %}